@charset "UTF-8";
/* 문의글 */
.reportList {
    width: 1050px;
}

.reportList>table {
    /* margin-top: 10px; */
    padding-top: 20px;
    width: 100%;
}

/* 문의글 리스트 */
.reportList td {
    padding-top: 10px;
    text-align: center;
}

/* 문의글 제목 부분 왼쪽정렬 및 넓이 고정 */
td.reportTitle {
    text-align: left;
    padding-left: 5px;
    width: 750px;
}
/* 문의글 아이디 부분 넓이 고정 최대인 8글자에 맞춤 */
.titleList>td:last-child{
    width: 130px;
}
/* 문의글 번호 부분 넓이 고정 */
.titleList>td:first-child{
    width: 30px;
}

/* 게시글 목록 사이 구분선 */
.tableLine>td {
    border-bottom: 1px solid lightgray;
}

#reportHead {
    display: flex;
    justify-content: space-between;
}

/* 게시글 목록에 잠금 아이콘 열의 넓이 */
tr>td:nth-child(2){
    width: 15px;          
  }

/* 글쓰기 버튼 부분 */
.writeBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 35px;
    border: none;
    padding: 0px 20px;
    background-color: #20C997;
    color: white;
    /* font-weight: bolder; */
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: 5px 5px 0px #20C997; */
    transition-duration: .3s;
}
.svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}
.writeBtn:hover {
    color: transparent;
}
.writeBtn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}
.writeBtn:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    /* box-shadow: 2px 2px 0px #20C997; */
}